.content {
    font-size: 1.2rem;
    font-weight: 1500;

}

.admin-subtitle {
    margin: 1%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #802b2b;
    margin-left: 40%;
}

.table-content button {
    margin-top: 2%;
    margin-left: 43%;
    font-size: 1.2rem;
    font-weight: 1500;
    background-color: #802b2b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.allTasks {
    padding: 1%;
    background: #af7a7a;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    font-size: 1.2rem;
}

li {
    list-style: none;
}

.task {
    background: #f5f5f5;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.taskButton{
    padding: 0.5%;
    background: turquoise;
}
.taskButton:hover{
    background: #802b2b;
    color: white;
    
}